name: Publish

on:
  push:
    tags:
    - '**'

env:
  VEKTONN_PYTHON_PACKAGE_VERSION: ${{ github.ref_name }}

jobs:
  pypi-publish:
    needs: test
    runs-on: ubuntu-latest
    timeout-minutes: 3
    steps:
    - name: Checkout
      uses: actions/checkout@v2

    - name: Set up Python
      uses: actions/setup-python@v1
      with:
        python-version: '3.x'

    - name: Build
      run: python w_h.py
